body{
  background-color: black;
  color: white !important;
}

hr{
  border-color: white;
}

.carousel-item{
  width: 100%;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img-circle{
  border-radius: 100%;
  width: 150px;
}

.img-track{
  width: 60px;
}

.jumbotron{
  background-color: #171717;
}

.main-container{
  margin-top: 30px;
}

.pointer{
  cursor: pointer;
}

.search-results-img{
  margin: 10px;
 width: 200px;
}

.top-30 {
  margin-top: 30px;
}

@media (max-width: 600px) {
  iframe {
    width: 80px;
  }

  .carousel-item {
    height: 280px;
  }
}

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
