<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['home']">AuthApp</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['price']">Price</a>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="_authService.isAuthenticated()"
      >
        <a class="nav-link" [routerLink]="['protected']">Protected</a>
      </li>
    </ul>
    <span class="navbar-text">
      <button
        type="button"
        class="btn btn-dark btn-sm"
        *ngIf="!_authService.isAuthenticated()"
        (click)="doLogin()"
      >
        Login
      </button>
      <button
        type="button"
        class="btn btn-dark btn-sm"
        *ngIf="_authService.isAuthenticated()"
        (click)="doLogout()"
      >
        Logout
      </button>
    </span>
  </div>
</nav>

