<div class="row">
  <div class="col-md-12 text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['new']">New</button>
      <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['view']">View</button>
      <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['edit']">Edit</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
