<div class="container main-container animated fadeIn fast">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <input name="search"
               placeholder="Search movies"
               type="text"
               class="form-control"
               [(ngModel)]="search"
               (keyup.enter)="searchMovies()"
        >
      </div>
    </div>
  </div>
  <div class="row"
       *ngIf="movies">
    <div class="card-columns">
      <div class="card"
           *ngFor="let movie of movies">
        <img class="card-img-top" src="{{ movie | movieImage }}">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">{{ movie.overview | slice:0:350 }}...</p>
          <button class="btn btn-outline-primary btn-block"
                  [routerLink]="['/movie', movie.id]">More
          </button>
        </div>
      </div>
    </div>
  </div>
</div>