<div class="container top-30">
  <div class="row">
    <div class="col-md-3">
      <img [src]="artist.images | photoValidate" class="img-circle">
    </div>
    <div class="col-md-9">
      <h6>{{ artist.name }}</h6>
      <a class="btn btn-outline-danger" [routerLink]="['/search']">Back</a>
      <a class="btn btn-outline-success" [href]="artist.external_urls?.spotify">Open</a>
    </div>
  </div>
</div>
<div class="container top-30">
  <div class="row">
    <div class="col-md-12" *ngIf="topTracks">
      <h3>Top Tracks</h3>
      <div class="table-responsive">
        <table class="table table-inverse table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Song</th>
            <th>Popularity</th>
            <th>Preview</th>
          </tr>
          </thead>
          <tr *ngFor="let track of topTracks; let num = index;">
            <td>{{ num + 1}}</td>
            <td>{{ track.name }}</td>
            <td>{{ track.popularity }}</td>
            <td>
              <iframe
                [src]="track.uri | sanitizeResource:'https://open.spotify.com/embed?uri='"
                width="300"
                height="80"
                frameborder="0"
                allowtransparency="true"
              >

              </iframe>
              <!--
                Basic HTML audio control
                <audio controls>
                <source [src]="track.preview_url">
                Browser not supported.
              </audio>-->
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
