<h2>ngSwitch</h2>
<div *ngFor="let alertType of alertTypes">
  <div [ngSwitch]="alertType">
    <div *ngSwitchCase="'alert-success'" class="alert alert-success">sucess</div>
    <div *ngSwitchCase="'alert-info'" class="alert alert-info">info</div>
    <div *ngSwitchCase="'alert-warning'" class="alert alert-warning">warning</div>
    <div *ngSwitchDefault class="alert alert-danger">danger</div>
  </div>
</div>
