<div class="row" id="container-profile">
  <div class="col-md-12">
    <h3>Profile</h3>
  </div>
  <div class="col-md-3">
    <img class="img-fluid" [src]="profile?.picture">
  </div>
  <div class="col-md-9">
    <ul class="list-group">
      <li class="list-group-item">{{ profile.name }}</li>
      <li class="list-group-item">{{ profile.nickname }}</li>
      <li class="list-group-item">{{ profile.updated_at | date:'dd-MM-yyyy' }}</li>
    </ul>
  </div>
</div>
