<h2>ngClass</h2>
<div id="alert-types">
  <div
    [ngClass]="alertTypes[alertShow]"
    class="alert"
    role="alert"
  >
    This is an alert of type {{ alertTypes[alertShow] }}!
  </div>
  <button
    class="btn btn-primary"
    type="button"
    (click)="changeAlert()"
  >
    Change alert
  </button>
</div>
<div id="simulate-save">
  <button
    class="btn btn-primary"
    type="button"
    (click)="simulateSave()"
    [disabled]="loading"
  >
    <i [ngClass]="{'fa-save': !loading, 'fa-refresh fa-spin': loading}" class="fa"></i>
    <span *ngIf="!loading">Save changes</span>
    <span *ngIf="loading">Saving...</span>
  </button>
</div>
