<h1>Super Heroes</h1>
<hr>
<div class="card-columns">
  <div class="card animated fadeIn fast" *ngFor="let hero of heroes; let id = index">
    <img class="card-img-top img-fluid" [src]="hero.img" [alt]="hero.name">
    <div class="card-block">
      <h4 class="card-title">{{ hero.name }}</h4>
      <p class="card-text">{{ hero.bio }}</p>
      <p class="card-text"><small class="text-muted">{{ hero.appearance }}</small></p>
      <button
        type="button"
        class="btn btn-outline-primary btn-block"
        (click)="viewHero(id)"
      >
        More...
      </button>
      <!--<a [routerLink]="['/hero', id]" class="btn btn-outline-primary">More link...</a>-->
    </div>
  </div>
</div>
