<h1>Heroes</h1>
<hr>
<div class="row">
  <div class="col-md-12 text-right">
    <button class="btn btn-outline-primary"
            [routerLink]="['/hero','new']">
      New
    </button>
  </div>
</div>
<br>
<div class="row animated fadeIn">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-inverse">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Home</th>
          <th class="text-right" scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let hero of heroes; let i = index;">
          <ng-template [ngIf]="hero?.key$">
            <td>{{ i + 1 }}</td>
            <td>{{ hero.name }}</td>
            <td>{{ hero.home }}</td>
            <td class="text-right">
              <button [routerLink]="['/hero',hero.key$]"
                      class="btn btn-small btn-outline-primary">
                Edit
              </button>
              <button (click)="delete(hero.key$)"
                      class="btn btn-small btn-outline-danger">
                Delete
              </button>
            </td>
          </ng-template>
        </tr>
        </tbody>
      </table>
      <div *ngIf="0 === heroes.length"
           class="alert alert-info"
           role="alert">
        No records
      </div>
    </div>
  </div>
</div>