<h1>Heroe</h1>
<button [routerLink]="['heroes']"
        class="btn btn-outline-danger">
  Back
</button>
<button class="btn btn-outline-primary"
        (click)="new(heroForm)">
  New
</button>
<hr>
<div class="row animated fadeIn">
  <div class="col-md-12">
    <form (ngSubmit)="save()" #heroForm="ngForm">
      <div class="form-group">
        <label>Name</label>
        <input [(ngModel)]="hero.name"
               type="text"
               name="name"
               class="form-control"
               placeholder="Name of Hero"
               required>
      </div>
      <div class="form-group">
        <label>Home</label>
        <select [(ngModel)]="hero.home"
                name="home"
                class="form-control"
                required>
          <option value="Marvel">Marvel</option>
          <option value="DC">DC</option>
        </select>
      </div>
      <div class="form-group">
        <label>Bio</label>
        <textarea [(ngModel)]="hero.bio"
                  name="bio"
                  class="form-control"
                  cols="30"
                  rows="10">
        </textarea>
      </div>
      <div class="form-group">
        <button [disabled]="!heroForm.valid"
                type="submit"
                class="btn btn-outline-success">
          Save
        </button>
      </div>
    </form>
  </div>
</div>