<h1>{{ hero.name|uppercase }}</h1>
<h6>{{ hero.appearance|date:'y' }}</h6>
<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img class="card-img-top img-fluid" [src]="hero.img" [alt]="hero.name">
    <br>
    <br>
    <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Back</a>
  </div>
  <div class="col-md-8">
    <p class="card-text">{{ hero.bio }}</p>
    <img *ngIf="hero.home == 'DC'" class="img-home" src="assets/img/dc-logo.jpg" alt="DC">
    <img *ngIf="hero.home == 'Marvel'" class="img-home" src="assets/img/marvel-logo.png" alt="Marvel">
  </div>
</div>
