<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 animated fadeIn fast">About</h1>
    <p class="lead animated fadeIn">Demo app using Angular</p>
  </div>
</div>
