<div class="container main-container animated fadeIn fast"
     *ngIf="movie">
  <h1>{{ movie.title }}</h1>
  <div class="row">
    <div class="col-md-5">
      <img [src]="movie | movieImage"
           [alt]="movie.title"
           class="img-thumbnail img-fluid">
    </div>
    <div class="col-md-7">
      <p class="text-justify">{{ movie.overview }}</p>
      <br>
      <blockquote class="blockquote text-right"
                  *ngIf="movie.tagline">
        <p class="mb-0"></p>
        <footer class="blockquote-footer">{{ movie.tagline }}</footer>
      </blockquote>
      <p>Popularity <span class="badge badge-primary">{{ movie.vote_average | number:'.0-0'}} / 10</span></p>
      <button class="btn btn-outline-danger btn-block"
              (click)="backTo()">
        Back
      </button>
    </div>
  </div>
</div>