<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Pelis</h1>
    <p class="lead">Demo app that uses the themoviedb.org API to show Movie info.</p>
  </div>
</div>
<div class="container">
  <app-collage [movies]="inTheaters" title="In Theaters"></app-collage>
  <app-collage [movies]="popular" title="Popular"></app-collage>
  <app-collage [movies]="popularKids" title="Popular Kids"></app-collage>
</div>