<div class="container top-30">
  <div class="row">
    <div class="col-md-3">
      <label for="term">Artist Finder</label>
      <input [(ngModel)]="term"
        type="text"
        name="term"
        class="form-control"
        placeholder="Search by Artist"
        (keyup)="searchArtist()"
      >
      <hr>
    </div>
    <div class="col-md-9" *ngIf="_spotify.artists">
        <div class="row">
          <div
            *ngFor="let artist of _spotify.artists"
            class="col-md3 text-center pointer"
            [routerLink]="['/artist', artist.id]"
          >
            <img [src]="artist.images | photoValidate" class="img-fluid img-thumbnail search-results-img">
            <p>{{ artist.name }}</p>
            <hr>
          </div>
        </div>
    </div>
  </div>
</div>
