<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 animated fadeIn fast">Comic Store</h1>
    <p class="lead animated fadeIn">Demo app of a Comic Store !!!</p>
  </div>
</div>
